<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAX3i7vKAeiJmMpQSrTZ-Cw7-x8GObRIxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>914846844480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.hocamathbot</string>
	<key>PROJECT_ID</key>
	<string>hocamathbot</string>
	<key>STORAGE_BUCKET</key>
	<string>hocamathbot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914846844480:ios:b65d585526ecbf37fcc1a5</string>
</dict>
</plist>